// Fonts
$main_font : Arial, Helvetica, sans-serif;

// Media Queries 
$phone : 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #e50914;
$secondary: #e87c03;
$black: #000000;
$gray: #323232;
$gray2: #8c8c8c;
$gray3 : #454545;
$white: #FFFFFF;